<!DOCTYPE html>
<html>
  <head>
    <title>docker-oracle-nightwatch</title>
  </head>
  <body>

  	<% customers.forEach(function(c) { %>
  	   <div>
    	<a href="/customer/<%= c.id %>"><%= c.name %></a>
       <div>
    <% }); %>
  </body>
</html>
