<!DOCTYPE html>
<html>
  <head>
    <title>docker-oracle-nightwatch</title>
  </head>
  <body>

  	<% customers.forEach(function(cust) {     %>

    	<p><%= cust[0] %></p>

    <% }); %>
  </body>
</html>
